@use "tailwindcss";

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #030712;
  background-attachment: fixed;
}

#star-canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}
